rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // User Profile Rules
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
      allow read, update: if request.auth != null && request.auth.uid == userId;

      // Expenses subcollection rules inside the user document
      match /expenses/{expenseId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
